@import "tailwindcss";
@import "tailwindcss/preflight";
@tailwind utilities;

@theme {
    --font-bebas: "Bebas Neue", "sans-serif"; 
    --font-cormorant: "Cormorant Garamond", "sans-serif";
    --font-inter: "Inter", "sans-serif";
    --color-title-orange: #FFAE8C
  }
